@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*ENCABEZADO*/

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header > img{
    width: 390px;
}

/*NAVEGADOR*/

nav{
    background-color: rgba(56, 56, 56, 0.466);
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Noto Sans JP'; 
}
nav > .navegador{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*HIRAGANA*/

main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 70% 30%;
}
.hiragana {
    margin-right: 50px;
}
.hiragana > .teoría > h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Reggae One';
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hiragana > .teoría > p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Noto Sans JP'; 
    text-align: justify;
}

/*SILABARIO*/

main > .hiragana > .silabario {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
table {
    background-color: rgb(252, 203, 203);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    font-family: 'Noto Sans JP';
}
#st{
    color: rgb(252, 203, 203);
}

/*TARJETA*/

.tarjeta{
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: 300px;
    border-radius: 2px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: 15px; 
    margin-top: 100px;
}
.tarjeta > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarjeta > img {
    width: 200px;  
    padding-left: 20px;
}
.tarjeta > .ej {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/*PIE*/

footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Noto Sans JP';
}
footer > p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
footer > .logoFooter {
    width: 300px;
}
footer > .redes{
    width: 200px;
    height: 50px;
}
