@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    padding: 0;
    margin: 0;
}

/*ENCABEZADO*/

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header > img{
    width: 390px;
}

/*NAVEGADOR*/

nav{
    background-color: rgba(56, 56, 56, 0.466);
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Noto Sans JP'; 
}
nav > .navegador{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*TÃTULO*/

main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
}
main > h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Reggae One';
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*TARJETITAS*/

main > .tjtMaterial{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main > .tjtMaterial > .tjt {
    border-style: solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 70px;
    font-family: 'Noto Sans JP';
    margin: 10px;
}
main > .tjtSitios {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
}
main > .tjtSitios > .tjtS {
    border-style: solid;
    font-family: 'Noto Sans JP';
    padding: 30px;
}

/*PIE*/

footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Noto Sans JP';
}
footer > p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
footer > .logoFooter {
    width: 300px;
}
footer > .redes{
    width: 200px;
    height: 50px;
}
